<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>
<h2>Hashtag List:</h2>
<% if @mentions_list != nil %>
<ul>

  <%  @hashtag_list.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
<% else %>
  <p>No hashtags found!</p>
<% end %>

<h2>Mention List:</h2>
<% if @mentions_list != nil %>
<ul>
  <% @mentions_list.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
<% else %>
  <p>No mentions found</p>
<% end %>

<h2>Tweet List:</h2>
<ul>
  <% @tweets.each do |tweet| %>
    <li>-------------</li>
    <li>Tweet header: <%= tweet.header %></li>
    <li>Tweet sender: <%= tweet.sender %></li>
    <li>Tweet body: <%= tweet.expanded_body %></li>
    <li>Tweet created: <%= tweet.created_at.strftime("%d/%m/%Y") %></li>
    <li>Tweet hashtag(s): <%= tweet.hashtag %></li>
    <li>Tweet mention(s): <%= tweet.mentions %></li>
    <li>-------------</li>
  <% end %>
</ul>
