<h1>Tweets#new</h1>
<!-- do not change the id below, Rspec is expecting it -->
<p id="tweet-description">This is text view</p>

<%= form_for @tweet, url: messages_tweets_path do |f| %>
  <p>
  <%= f.label :sender %><br/>
  <%= f.text_field :sender, maxlength: 15, :value => @sender %>
  </p>

  <p>
  <%= f.label :body %><br/>
  <%= f.text_area :body, :maxlength => 120%>
  </p>
  <%= f.hidden_field :header, :value => @header %>
  <%= f.submit %>
<% end %>
