<section id="emails-list">
  <div class="container">
    <div class="row" id="sir-list">
      <div class="col-sm-12 text-center">
        <h1>Email List</h1>
      </div>
      <% @emails.each do |email| %>

        <% if !email.is_standard %>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">
                <p><%= email.sender %></p>
                <div class="card-content">
                  <p>Email subject: <%= email.subject %></p>
                  <p>Email body: <%= email.body %></p>
                  <p>Email in quarantine?: <%=  email.in_quarantine ? "true" : "false" %></p>
                  <% if !email.is_standard %>
                    <p> <p class="lead">SIR email</p> </p>
                    <p><strong>Email Centre code:</strong> <%= email.centre_code %></p>
                    <p><strong>Incident:</strong> <%= email.incident %></p>
                  <% else %>
                    <p> This is a standard email </p>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</section>


