<h1>Email - New</h1>
<%= form_for @email, url: messages_emails_path do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved: </h2>
      <ul>
        <% @email.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :sender %><br/>
  <%= f.text_field :sender, :value => @sender %>
  </p>
  <p>
  <%= f.label :subject %><br/>
  <%= f.text_field :subject,maxlength: 20 %>
  </p>
  <p>
  <%= f.label :incident %><br/>
  <%= f.select(:incident, @incident_options.collect {|d| [d[0], d[1]]
    }, {:include_blank => "Select"}, {:class => "some_class"} )
  %>
  </p>
  <p>
  <%= f.label :centre_code %><br/>
  <%= f.text_field :centre_code,maxlength: 10 %>
  </p>
  <p>
  <%= f.label :body %><br/>
  <%= f.text_field :body, maxlength: 1028 %>
  </p>
  <%= f.hidden_field :header, :value => @header %>
  <%= f.submit %>
<% end %>



#TODO: Add a field with sport centre code, prepend to the body of email sport centre code and incident
