<section id="emails">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Emails</h1>
        <p id="email-description">This is text view</p>
      </div>
      <div class="col-sm-6 col-sm-offset-3">

        <div class="card">
          <div class="card-header">
            <p>Fajsl</p>
            <div class="card-content"> 
              <%= form_for @email, url: messages_emails_path do |f| %>
                <% if @email.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved: </h2>
                    <ul>
                      <% @email.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="form-inline">
                  <div class="form-group">
                    <%= f.label :sender %><br/>
                    <%= f.text_field :sender, :value => @sender %>
                  </div>
                  <div class="form-group">
                    <%= f.label :subject %><br/>
                    <%= f.text_field :subject,maxlength: 20 %>
                  </div>
                </div>
                <div class="form-inline">
                  <div class="form-group">
                    <%= f.label :incident %><br/>
                    <%= f.select(:incident, @incident_options.collect {|d| [d[0], d[1]]
                    }, {:include_blank => "Select"}, {:class => "some_class"} )
                  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :centre_code %><br/>
                    <%= f.text_field :centre_code,maxlength: 10 %>
                  </div>
                </div>

                  <p><small>Only to be filled if SIR</small></p>
                <div class="form-group">

                  <%= f.label :body %><br/>
                  <%= f.text_area :body,rows:5,cols:30, maxlength: 1028 %>
                  <%= f.hidden_field :header, :value => @header %>
                </div>
                <%= f.submit "Create Email", class:"btn btn-warning btn-fill" %>
              <% end %> 
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>


