<h1>TEXT - NEW</h1>
<%= @sender %>
 texts/index.html

 <%= form_for @text, url: messages_texts_path  do |f| %>
   <p>
   <%= f.label :sender %><br/>
   <%= f.text_field :sender, :value => @sender %>
   </p>
   <p>
   <%= f.label :body %><br/>
   <%= f.text_area :body %>
   </p>
   <%= f.submit %>
 <% end %>
